<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>
    <add key="oktaUrl" value="https://*********.oktapreview.com" />
    <add key="oktaApiKey" value="*********************" />
    <add key="csvPath" value="C:\CRM_ID.csv" />
    <add key="attributeName" value="**************" />
  </appSettings>
</configuration>